<script lang="ts">
  import Recto from './Recto.svelte';
  import Verso from './Verso.svelte';
  import { MasterCard, Visa } from '../icons';
  import { PATTERN } from '../../constants';

  export let reversed;
  export let cardNumber = '';
  export let fullName;
  export let month;
  export let year;
  export let crypto;

  $: hiddenCardNumber = PATTERN.replace(/\*/g, (char, idx) => {
    if ((idx >= 5 && idx <= 8) || (idx >= 15 && idx <= 18)) {
      return cardNumber[idx] || char;
    }
    return char;
  });
</script>

<div class="card" style={`transform: ${reversed ? 'rotateY(180deg)' : 'rotateY(0deg)'};`}>
  <Recto cardNumber={hiddenCardNumber} {fullName} {month} {year}>
    {#if cardNumber.startsWith('4')}
      <Visa />
    {/if}

    {#if cardNumber.startsWith('5')}
      <MasterCard />
    {/if}
  </Recto>

  <Verso cardNumber={hiddenCardNumber} {fullName} {month} {year} {crypto} />
</div>
