<script lang="ts">
  import { Chip, NearFieldCom } from '../icons';

  export let cardNumber;
  export let fullName;
  export let month;
  export let year;
</script>

<div class="recto">
  <div class="half">
    <div style="display: flex; padding: 0.5rem">
      <div class="big-leaf">
        <div class="medium-leaf">
          <div class="small-leaf" />
        </div>
      </div>

      <p class="leaf-bank col">
        <span class="title">LEAF</span>
        <span class="subtitle">bank</span>
      </p>

      <slot />
    </div>

    <div class="icons">
      <Chip style="margin-left: 0.5rem" />
      <NearFieldCom style="margin-left: 0.5rem" />
    </div>
  </div>

  <div class="half">
    <p class="card-number">{cardNumber}</p>
    <div class="corners">
      <p class="card-corner">
        <span class="key">fullname</span>
        <span class="value truncate">
          {fullName || 'Unknown'}
        </span>
      </p>

      <p class="card-corner">
        <span class="key">expires</span>
        <span class="value">{month}/{year}</span>
      </p>
    </div>
  </div>
</div>

<style>
  .recto {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
</style>
