<script lang="ts">
  import { onMount } from 'svelte';
  import { Card } from './card';
  import Field from './Field.svelte';
  import Modal from './Modal.svelte';
  import Selector from './Selector.svelte';
  import * as CreditCardService from '../services/creditCardService';
  import { getYears, convertMonthToInt, convertYearToInt } from '../utils';
  import { MONTHS } from '../constants';

  onMount(() => {
    // eslint-disable-next-line
    console.log('Leaf Bank');
  });

  let reversed = false;
  let loading = false;

  let cardHolder = '';

  const setCardHolder = (e: Event) => {
    cardHolder = (e.target as HTMLInputElement).value;
  };

  let cardNumber = '';

  const setCardNumber = (e: Event) => {
    (event.target as HTMLInputElement).value = (event.target as HTMLInputElement).value
      .replace(/[^\dA-Z]/g, '') // NOTE: Escapes Digits, Matches Words
      .replace(/(.{4})/g, '$1 ') // NOTE: Any Chars, 4 Times
      .trim();

    cardNumber = (e.target as HTMLInputElement).value;
  };

  let crypto = '';

  const setCrypto = (e: Event) => {
    (event.target as HTMLInputElement).value = (event.target as HTMLInputElement).value
      .replace(/[^\dA-Z]/g, '') // NOTE: Escapes Digits, Matches Words
      .trim();

    crypto = (e.target as HTMLInputElement).value;
  };

  let month = '';
  $: convertedMonth = convertMonthToInt(month);

  let year = '';
  $: convertedYear = convertYearToInt(year);

  let modalTitle = '';
  let modalVisibility = false;
  let modalError = false;

  const isValid = () => {
    if (cardHolder.length === 0) {
      return false;
    }

    if (cardNumber.length === 0) {
      return false;
    }

    if (month.length === 0) {
      return false;
    }

    if (year.length === 0) {
      return false;
    }

    if (crypto.length === 0) {
      return false;
    }

    return true;
  };

  const handleSubmit = (e: Event) => {
    e.preventDefault();

    loading = true;

    const expirationDate = new Date();
    expirationDate.setMonth(+month);
    expirationDate.setFullYear(+year);

    CreditCardService.validateCreditCard({
      cardHolder: cardHolder,
      cardNumber: cardNumber.replace(/\s/g, ''), // NOTE: Matches Whitespaces
      expirationDate,
      crypto: crypto
    })
      .then(res => {
        modalTitle = res.message;

        setTimeout(() => {
          modalVisibility = true;
        }, 0.5 * 1000);
      })
      .catch(err => {
        modalError = true;
        modalTitle = err.message;

        setTimeout(() => {
          modalVisibility = true;
        }, 0.5 * 1000);
      })
      .finally(() => (loading = false));
  };
</script>

<div>
  {#if modalTitle}
    <Modal isVisible={modalVisibility} title={modalTitle} isError={modalError} />
  {/if}

  <Card {reversed} {cardNumber} fullName={cardHolder} month={convertedMonth} year={convertedYear} {crypto} />

  <form on:submit={handleSubmit}>
    <Field
      classes="row"
      style="margin-top: auto"
      id="cardHolder"
      label="Card Holder"
      placeholder="John Doe"
      onInput={setCardHolder}
      onFocus={() => (reversed = false)}
    />

    <Field
      classes="row"
      id="cardNumber"
      label="Card Number"
      placeholder="5678 1234 5678 1234"
      maxLength={19}
      onInput={setCardNumber}
      onFocus={() => (reversed = false)}
    />

    <div class="field-group">
      <div class="field" style="width: 100px">
        <label for="expiresThru">Expires Thru</label>
        <Selector
          defaultLabel="Month"
          ariaLabelledBy="expiresThru"
          on:btn-click={() => (reversed = false)}
          options={MONTHS}
          on:opt-click={({ detail: { value } }) => (month = value)}
        />
      </div>

      <div class="field" style="width: 100px">
        <Selector
          defaultLabel="Year"
          on:btn-click={() => (reversed = false)}
          options={getYears(5, 20)}
          on:opt-click={({ detail: { value } }) => (year = value)}
        />
      </div>

      <Field
        style="width: 50px"
        id="crypto"
        label="CVV"
        placeholder="567"
        maxLength={3}
        onInput={setCrypto}
        onFocus={() => (reversed = true)}
      />
    </div>

    <button class="submit" disabled={loading || isValid()}>
      {loading ? 'Loading' : 'Submit'}
    </button>
  </form>
</div>
