<script lang="ts">
  export let classes = '';
  export let style = '';
  export let id: string | undefined = undefined;
  export let name: string | undefined = undefined;
  export let label: string | undefined = undefined;
  export let type = 'text';
  export let placeholder: string | undefined = undefined;
  export let maxLength: number | undefined = undefined;
  export let onInput = (e: Event) => {};
  export let onFocus = (e: Event) => {};
</script>

<div class={`field ${classes}`} {style}>
  {#if label}
    <label for={id}>{label}</label>
  {/if}
  <input {id} name={name || id} {type} {placeholder} maxlength={maxLength} on:input={onInput} on:focus={onFocus} />
</div>
