<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let defaultLabel = 'Unknown';
  export let ariaLabelledBy: string | undefined = undefined;
  export let options: string[] = [];

  let label = '';
  let displayList = false;

  const handleButton = (event: Event) => {
    displayList = !displayList;
    dispatch('btn-click', event);
  };

  const handleOption = (value: string) => {
    label = value;
    displayList = false;
    dispatch('opt-click', { value });
  };
</script>

<div style="position: relative">
  <button
    class="selector"
    type="button"
    on:click={handleButton}
    aria-haspopup="listbox"
    aria-expanded={displayList}
    aria-labelledby={ariaLabelledBy}
  >
    {label || defaultLabel}
    <svg width="16" height="16" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 9l4-4 4 4m0 6l-4 4-4-4"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>

  {#if displayList}
    <ul class="listbox" tabindex="-1" role="listbox">
      {#each options as option, idx}
        <li
          id={`listbox-option-${idx}`}
          class={`option${label === option ? ' selected' : ''}`}
          role="option"
          aria-selected={label === option}
          on:click={() => handleOption(option)}
        >
          {option}
        </li>
      {/each}
    </ul>
  {/if}
</div>
