<script lang="ts">
  export let style = '';
</script>

<svg width="30" height="21" fill="none" viewBox="0 0 30 21" xmlns="http://www.w3.org/2000/svg" {style}>
  <rect x="0.5" y="0.5" width="29" height="20" rx="3.5" fill="#E2E8F0" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M9.5 4.5V0h1v3.5h9V0h1v5A1.5 1.5 0 0022 6.5h8v1h-8A1.5 1.5 0 0020.5 9v3a1.5 1.5 0 001.5 1.5h8v1h-8a1.5 1.5 0 00-1.5 1.5v5h-1v-3.5h-9V21h-1v-5A1.5 1.5 0 008 14.5H0v-1h8A1.5 1.5 0 009.5 12V9A1.5 1.5 0 008 7.5H0v-1h8A1.5 1.5 0 009.5 5v-.5zm0 2.5c.607.456 1 1.182 1 2v3c0 .818-.393 1.544-1 2 .607.456 1 1.182 1 2v.5h9V16c0-.818.393-1.544 1-2a2.496 2.496 0 01-1-2V9c0-.818.393-1.544 1-2a2.496 2.496 0 01-1-2v-.5h-9V5c0 .818-.393 1.544-1 2z"
    fill="#0F172A"
  />
  <rect x="0.5" y="0.5" width="29" height="20" rx="3.5" stroke="#0F172A" />
</svg>
